.note-item {
  display: flex;
  flex-direction: column;
}

.note-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

pre {
  background-color: white;
  border: 1px solid black;
  overflow: auto; 
}

h3 {
  margin: 0px;
}